html {
    overflow: hidden;
}

body {
    background-color: #07091C;
    color: #ffffff;
}

.header {
    background-color: rgba(255,255,255, 0.1);
    height: 10vh;
    box-shadow: 5px 5px 5px rgba(255,255,255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.clockdiv {
    height: 55vh;
    width: 60%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 100px;
}

.scramble {
    text-align: center;
    font-size: 35px;
    padding: 20px;
    margin: auto;
}

.timesdiv {
    background-color: rgba(255,255,255, 0.1);
    box-shadow: 5px 5px 5px rgba(255,255,255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    height: 30vh;
    display: inline-block;
    margin: 0;
}

.average p {
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}

.averagetext {
    text-align: left;
    width: 50%;
}

.averagetime {
    text-align: right;
    width: 50%;
}

.title {
    text-align: center;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.averagetitle {
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.avgblocks {
    display: flex; 
    justify-content: space-between;
}

.prevtimestitles {
    display: flex;
    justify-content: space-around;
}

.previoustimes {
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}
